html {
    font-family: Arial, sans-serif;
    font-size: small;
}
.header {
   
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: flex;
}
#header {
    display: flex;
    height: auto;
}
.hleft {
    display: flex;
    margin-right: auto;
    
}

li a {
    padding: 10px;
    color: #464646;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}

.hright {
    display: flex;
    margin-right: 5px;
}
.footer {
    margin-top: auto;
    background: #dfdfdf73;
    border-top: solid 0.2px #aaaaaa73;
    border-bottom: solid 0.2px #aaaaaa73;
    height: 40px;
}
.li-footer {
    display: flex;
    
}

.business {
    margin-right: auto;
}
.signin {
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    background: #2c80ff;
    padding: 0px 15px 0px 15px;
    border-color: white;
    box-shadow: white;
    outline-color: white;
    border: none;
}
.center {
    margin: 170px auto;
}
.round-corners {
outline: none;
padding-left: 20px;
border-color: rgb(220, 220, 220);
border-radius: 20px;
border-style: solid;
border-width: 1px;
padding-left: 20px;
width: 500px;
height: 35px; 

}
.round-corners:hover {
    box-shadow: 0px 0px 7px rgb(220, 220, 220);
}
.round-corners:focus {
    box-shadow: 0px 0px 7px rgb(220, 220, 220);
}

.buttons:hover {
    color: black;
    border: 1px solid #c6c6c6;
    cursor: pointer;
    
}
.buttons {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #4e4e4e;
    font-size: 15px;
    background: #dfdfdf73;
    padding: 10px 10px 10px 10px;
    border-color: white;
    box-shadow: white;
    outline-color: white;
    border: none;
}